
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Marcellus&family=Sour+Gummy:wght@100..900&display=swap');

.siteFont {
   font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}